h1
{
   color : blue ; 
   background : yellow ;
   border : 10px solid blue ;
   padding : 5px ;
   width : 550px ;
}

h2
{
	color : blue ;
	background : orange ;
	border : 10px dashed blue ;
	padding : 5px ;
	width : 550px ;
}